@import '../../../assets/styles/variables';

.P-favorite {

  .P-favorite-empty-view {
    padding-top: 13%;
  }

  .P-favorite-section {
    font-size: 28px;
    font-weight: 700;
    padding: 70px 0 40px 0;
  }
}


