@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.P-home {
  padding-top: 29px;

  .P-logo-img {
    width: 90%;
  }

  .P-top-categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }

    .P-top-category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include grid(4, 45px);
      padding: 9px;
      margin-bottom: 30px;
      border-radius: 30px;
      color: $white;
      box-shadow:  9px 10px 38px #751F5063;

      @media only screen and (max-width: 800px) {
        width: 100%;
      }

      .P-category-desc {
        margin-bottom: auto;
        padding: 6px 0 15px 15px;
      }

      .P-category-img {
        -webkit-transition: -webkit-transform .5s;
        transition: transform .5s;
        border-radius: 50%;
        box-shadow: 0px -1px 20px 6px #00000047;
        border: solid 5px white;
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin-right: -23px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media only screen and (max-width: 800px) {
          margin-right: -15px;
        }
      }

      &:hover .P-category-img {
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
      }
    }
  }
}

.P-sun-cover {
  position: relative;
  overflow: hidden;
  height: 577px;
  z-index: -1;
  @media only screen and (max-width: 750px) {
    height: 333px;
  }
  .P-logo {
    background: $white;
    display: flex;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    justify-content: center;

    @media only screen and (max-width: 750px) {
      width: 50vw;
      height: 50vw;
    }
  }

  .P-border-ping {
    height: 95%;
    width: 95%;
    border-radius: 50%;
    border: $main-color 4px solid
  }

  .P-border-blue {
    height: 94%;
    width: 94%;
    border-radius: 50%;
    border: $blue 4px solid
  }
}

.P-sun-cover-image {
  position: absolute;
  width: 95vw;
  height: 95vw;
  z-index: -1;
  background-image: url('../../../assets/img/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-animation:spin 400s linear infinite;
  -moz-animation:spin 400s linear infinite;
  animation:spin 400s linear infinite;

  @media only screen and (max-width: 750px) {
    width: 130vw;
    height: 130vw;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

