@import '../../../assets/styles/variables';

.P-faq {

  width: 90%;
  margin: 50px auto 50px auto;

  .P-faq-cover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    background-image: url("../../../assets/img/career2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;

    @media only screen and (max-width: 800px) {
      height: 150px;
    }

    .P-description {
      font-size: 58px;
      font-weight: 500;
      padding: 50px;
      max-width: 70%;
      color: $white;
      margin-top: auto;

      @media only screen and (max-width: 800px) {
        font-size: 28px;
        max-width: 100%;
      }
    }
  }

  .P-faq-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }

    .P-faq-search {
      padding: 18px;
      box-shadow: 0 3px 20px #00000029;
    }

    .P-left-menu {
      width: 27%;
      //padding: 15px 20px 30px 20px ;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: 800px) {
       width: 100%;
        margin-bottom: 20px;
      }

      .P-left-menu-items {
        border: 1px solid #D2D2D2;
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-y: scroll;
        border-top: none;
        padding: 15px 20px 30px 20px ;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .P-menu-item {
        overflow: hidden;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0 25px 0;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid #D2D2D2;

        .P-menu-arrow {
          font-weight: 700;
          font-size: 11px;
          color: #707070;
          padding-left: 12px;
        }
      }
    }

    .P-info-content {
      width: 65%;

      @media only screen and (max-width: 800px) {
        width: 100%;
      }
    }

    .P-info-text {
      font-size: 20px;
      color: $gray-1;
      margin-bottom: 20px;

      .P-info-ul {
        margin-left: 41px;
        margin-top: 10px;
      }

      b {
        color: $gray-5;
      }
    }
  }
}

